<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand"
               href="https://github.com/spring-projects/spring-data-couchbase">
                Spring Data Couchbase
            </a>
            <ul class="nav">
                <li>
                    <a th:href="@{/room}" >
                        Rooms
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <h1 layout:fragment="header"></h1>
    <div layout:fragment="content"></div>
</div>
</body>
</html>