<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>All Rooms</title>
</head>
<body>
<h1 layout:fragment="header">All Rooms</h1>
<div layout:fragment="content" class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Number</td>
            <td>Description</td>
            <td>Occupied</td>
            <td>Checkin\Checkout</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${rooms.empty}">
            <td colspan="3">
                No Rooms
            </td>
        </tr>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.number}">1</td>
            <td th:text="${room.description}">1</td>
            <td th:text="${room.occupied}">1</td>
            <td><a class="btn btn-primary" href="" th:href="@{${room.editLink}}">Checkin\Checkout</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>